[pools]

# Normal difficulty pool
[pools.normal]
host = "stratum.braiins.com"
port = 3333
user = "latent-to.worker"
pass = "x"
proxy_port = 3331

# High difficulty pool
[pools.high_diff]
host = "stratum.braiins.com"
port = 3333
user = "latent-to.worker"
pass = "anything123"
proxy_port = 3332